body{
    margin: 0;
    padding: 0;
}
header {
    background-color: #7b7c7c;
    padding: 10px 0;
    margin: 0px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(91, 3, 91);
    font-size: 1em;
}

nav ul li a:hover {
    text-decoration: underline;
    color: rgb(91, 3, 91);
}